@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800&display=swap');
@import "tailwindcss";

@theme {
  --color-espresso: #1a1208;
  --color-surface: #1c1a10;
  --color-surface-2: #251c0d;
  --color-border: #2e2918;
  --color-amber: #FAC775;
  --color-muted: #6b5f4e;
  --font-sans: 'DM Sans', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: 'DM Sans', sans-serif;
  background: #0f0e09;
  color: #ede8db;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
select,
textarea,
button {
  font-family: 'DM Sans', sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: #1a1208;
}
::-webkit-scrollbar-thumb {
  background: #3d3521;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #5a4d2e;
}

/* Recharts overrides */
.recharts-tooltip-wrapper {
  outline: none !important;
}
